[submodule "mtr"]
	path = mtr
	url = https://github.com/deamwork/mtr.git
[submodule "inetutils"]
	path = inetutils
	url = https://github.com/deamwork/inetutils.git
[submodule "bind9"]
	path = bind9
	url = https://github.com/deamwork/bind9.git
